<h1>Python Pandas Tutorial: A Complete Introduction for Beginners</h1>
</br><img src="https://sadanduseless.b-cdn.net/wp-content/uploads/2022/08/pandas-endangered13.gif" alt="Panda skills">

<i> [pandas] is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals. — Wikipedia</i>

<h2>Pandas First Steps</h2>
<h3>Install and Import</h3>
</br><p>First we import our required packages which were preinstalled via 'pip install' in CMD shell</p>

In [11]:
import pandas as pd

<h2>Core components of pandas: Series and DataFrames</h2>

<p>The primary two components of pandas are the Series and DataFrame.

A <b>Series</b> is essentially a column, and a <b>DataFrame</b> is a multi-dimensional table made up of a collection of Series. DataFrames and Series are quite similar in that many operations that you can do with one you can do with the other, such as filling in null values and calculating the mean. You'll see how these components work when we start working with data below.

<h3>Creating DataFrames from scratch</h3>
Creating DataFrames right in Python is good to know and quite useful when testing new methods and functions you find in the pandas docs. There are many ways to create a DataFrame from scratch, but a great option is to just use a simple <code>dict</code>. Let's say we have a fruit stand that sells apples and oranges. We want to have a column for each fruit and a row for each customer purchase. To organize this as a dictionary for pandas we could do something like:</p>

In [15]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

<p>And then pass it to the pandas DataFrame constructor:</p>

In [16]:
purchases = pd.DataFrame(data)

purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

<h4><b>How did that work?</b></h4>
<p>Each <i>(key, value)</i> item in <code>data</code> corresponds to a column in the resulting DataFrame.</p>
<p>The <b>Index</b> of this DataFrame was given to us on creation as the numbers 0-3, but we could also create our own when we initialize the DataFrame.
Let's have customer names as our index:</p>

In [18]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

<p>So now we could <b>loc</b>ate a customer's order by using their name:</p>

In [19]:
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64

<p>There's more on locating and extracting data from the DataFrame later, but now you should be able to create a DataFrame with any random data to learn on.

Let's move on to some quick methods for creating DataFrames from various other sources.</p>

<H2>How to read in data</H2>

<p>It’s quite simple to load data from various file formats into a DataFrame. In the following examples we'll keep using our apples and oranges data, but this time it's coming from various files.</p>

<h3>Reading data from CSVs</h3>
<p>With CSV files all you need is a single line to load in the data:</p>

In [25]:
df = pd.read_csv('purchases.csv')

df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

<p>CSVs don't have indexes like our DataFrames, so all we need to do is just designate the <code>index_col</code> when reading:</p>

In [26]:
df = pd.read_csv('purchases.csv', index_col=0)

df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

<p>Here we're setting the index to be column zero.
You'll find that most CSVs won't ever have an index column and so usually you don't have to worry about this step.</p>
<h3>Reading data from JSON</h3>
<p>If you have a JSON file — which is essentially a stored Python <code>dict</code> — pandas can read this just as easily:</p>

In [28]:
df = pd.read_json('purchases.json')

df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

<p>Notice this time our index came with us correctly since using JSON allowed indexes to work through nesting. Feel free to <code>open data_file.json</code> in a notepad so you can see how it works.

Pandas will try to figure out how to create a DataFrame by analyzing structure of your JSON, and sometimes it doesn't get it right. Often you'll need to set the <code>orient</code> keyword argument depending on the structure, so check out read_json docs about that argument to see which orientation you're using.</p>

<h3>Reading data from a SQL database</h3>
<p>If you’re working with data from a SQL database you need to first establish a connection using an appropriate Python library, then pass a query to pandas. Here we'll use SQLite to demonstrate.

First, we need <code>pysqlite3</code> installed, so run this command in your terminal:

<code>pip install pysqlite3</code>

Or run this cell if you're in a notebook:</p>

In [29]:
!pip install pysqlite3

Collecting pysqlite3
  Downloading pysqlite3-0.5.2.tar.gz (40 kB)
     ---------------------------------------- 0.0/40.7 kB ? eta -:--:--
     ------------------- ------------------ 20.5/40.7 kB 330.3 kB/s eta 0:00:01
     ---------------------------- --------- 30.7/40.7 kB 435.7 kB/s eta 0:00:01
     -------------------------------------- 40.7/40.7 kB 390.0 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (pyproject.toml): started
  Building wheel for pysqlite3 (pyproject.toml): finished with status 'error'
Failed to build pysqlite3

  error: subprocess-exited-with-error

  Building wheel for pysqlite3 (pyproject.toml) did not run successfully.
  exit code: 1

  [12 lines of output]
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-311
  creating build\lib.win-amd64-cpython-311\pysqlite3
  copying pysqlite3\dbapi2.py -> build\lib.win-amd64-cpython-311\pysqlite3
  copying pysqlite3\__init__.py -> build\lib.win-amd64-cpython-311\pysqlite3
  running build_ext
  Builds a C extension linking against libsqlite3 library
  building 'pysqlite3._sqlite3' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for pysqlite3
ERROR: Could not build wheels for pysqlite3, which is required to install pyproject.toml-based projects

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\Carlos\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

<p><code>sqlite3</code> is used to create a connection to a database which we can then use to generate a DataFrame through a <code>SELECT</code> query.</p>

<p>So first we'll make a connection to a SQLite database file:</p>

In [30]:
import sqlite3

con = sqlite3.connect("database.db")

<h3>SQL Tip</h3>
<p>If you have data in PostgreSQL, MySQL, or some other SQL server, you'll need to obtain the right Python library to make a connection. For example, <code>psycopg2</code> (<a href="http://initd.org/psycopg/download/">link</a>) is a commonly used library for making connections to PostgreSQL. Furthermore, you would make a connection to a database URI instead of a file like we did here with SQLite.</p>

<p>In this SQLite database we have a table called <i>purchases</i>, and our index is in a column called "index".

By passing a SELECT query and our <code>con</code>, we can read from the <i>purchases</i> table:</p>

In [31]:
df = pd.read_sql_query("SELECT * FROM purchases", con)

df

    index  apples  oranges
0    June       3        0
1  Robert       2        3
2    Lily       0        7
3   David       1        2

<p>Just like with CSVs, we could pass <code>index_col='index'</code>, but we can also set an index after-the-fact:</p>

In [32]:
df = df.set_index('index')

df

        apples  oranges
index
June         3        0
Robert       2        3
Lily         0        7
David        1        2

<p>In fact, we could use set_index() on any DataFrame using any column at any time. Indexing Series and DataFrames is a very common task, and the different ways of doing it is worth remembering.</p>

<h3>Converting back to a CSV, JSON, or SQL</h3>
<p>So after extensive work on cleaning your data, you’re now ready to save it as a file of your choice. Similar to the ways we read in data, pandas provides intuitive commands to save it:</p>

In [33]:
df.to_csv('new_purchases.csv')

df.to_json('new_purchases.json')

df.to_sql('new_purchases', con)

4

<p>When we save JSON and CSV files, all we have to input into those functions is our desired filename with the appropriate file extension. With SQL, we’re not creating a new file but instead inserting a new table into the database using our <code>con</code> variable from before.

Let's move on to importing some real-world data and detailing a few of the operations you'll be using a lot.</p>

<h2>Most important DataFrame operations</h2>
<p>DataFrames possess hundreds of methods and other operations that are crucial to any analysis. As a beginner, you should know the operations that perform simple transformations of your data and those that provide fundamental statistical analysis.</p>

<p>Let's load in the IMDB movies dataset to begin:</p>

In [35]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")

<p>We're loading this dataset from a CSV and designating the movie titles to be our index.

<h3>Viewing your data</h3>
The first thing to do when opening a new dataset is print out a few rows to keep as a visual reference. We accomplish this with <code>.head():</code></p>

In [37]:
movies_df.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

<p><code>.head()</code> outputs the <b>first</b> five rows of your DataFrame by default, but we could also pass a number as well: <code>movies_df.head(10)</code> would output the top ten rows, for example.

To see the <b>last</b> five rows use <code>.tail()</code>. <code>tail()</code> also accepts a number, and in this case we printing the bottom two rows.:</p>

In [38]:
movies_df.tail(2)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

<p>Typically when we load in a dataset, we like to view the first five or so rows to see what's under the hood. Here we can see the names of each column, the index, and examples of values in each row.

You'll notice that the index in our DataFrame is the <i>Title</i> column, which you can tell by how the word <i>Title</i> is slightly lower than the rest of the columns.

<h3>Getting info about your data</h3>
<code>.info()</code> should be one of the very first commands you run after loading your data:</p>

In [ ]:
movies_df.info()