<h1>Python Pandas Tutorial: A Complete Introduction for Beginners</h1>
</br><img src="https://sadanduseless.b-cdn.net/wp-content/uploads/2022/08/pandas-endangered13.gif" alt="Panda skills">

<h2>Pandas First Steps</h2>
<h3>Install and Import</h3>
</br><p>First we import our required packages which were preinstalled via 'pip install' in CMD shell</p>

In [2]:
import pandas as pd

<h2>Core components of pandas: Series and DataFrames</h2>

<p>The primary two components of pandas are the Series and DataFrame.

A <b>Series</b> is essentially a column, and a <b>DataFrame</b> is a multi-dimensional table made up of a collection of Series. DataFrames and Series are quite similar in that many operations that you can do with one you can do with the other, such as filling in null values and calculating the mean. You'll see how these components work when we start working with data below.

<h3>Creating DataFrames from scratch</h3>
Creating DataFrames right in Python is good to know and quite useful when testing new methods and functions you find in the pandas docs. There are many ways to create a DataFrame from scratch, but a great option is to just use a simple <code>dict</code>. Let's say we have a fruit stand that sells apples and oranges. We want to have a column for each fruit and a row for each customer purchase. To organize this as a dictionary for pandas we could do something like:<p>

In [3]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

<p>And then pass it to the pandas DataFrame constructor:</p>

In [4]:
purchases = pd.DataFrame(data)

purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

<h4><b>How did that work?</b></h4>
<p>Each <i>(key, value)</i> item in <code>data</code> corresponds to a column in the resulting DataFrame.</p>
<p>The <b>Index</b> of this DataFrame was given to us on creation as the numbers 0-3, but we could also create our own when we initialize the DataFrame.
Let's have customer names as our index:</p>

In [5]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

<p>So now we could <b>loc</b>ate a customer's order by using their name:</p>

In [6]:
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64

<p>There's more on locating and extracting data from the DataFrame later, but now you should be able to create a DataFrame with any random data to learn on.

Let's move on to some quick methods for creating DataFrames from various other sources.</p>

<H2>How to read in data</H2>

<p>Itâ€™s quite simple to load data from various file formats into a DataFrame. In the following examples we'll keep using our apples and oranges data, but this time it's coming from various files.</p>

<h3>Reading data from CSVs</h3>
<p>With CSV files all you need is a single line to load in the data:</p>

In [7]:
df = pd.read_csv('purchases.csv')

df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2